In [ ]:
'''Practcal Demonstation for Type Conversion /Casting 
in Pyhton fundamentals'''

In [1]:
#Demo1:Program for type conversion/casting
num1 = input("Enter a number and I'll doubleit: ")
num1 = num1 * 2
print(num1)

Enter a number and I'll doubleit: 3
33

In [2]:
#Demo2:Program for type conversion/casting-modified
num1 = int(input("Enter a number and I'll doubleit: "))
num1 = num1 * 2
print(num1)

Enter a number and I'll doubleit: 4
8

In [6]:
#Demo 3: Program of explicit type conversion from int to float.
#Explicit type conversion from int to float
num1 = 40
num2 = 20
num3 = num1 + num2
print(num3)
print(type(num3))
num4 = float(num1 + num2)
print(num4)
print(type(num4))

60
<class 'int'>
60.0
<class 'float'>

In [5]:
#Demo 4:Program of explicit type conversion from float to int.
num1 = 15.2
num2 = 28.6
num3 = (num1 + num2)
print(num3)
print(type(num3))
num4 = int(num1 + num2)
print(num4)
print(type(num4))

43.8
<class 'float'>
43
<class 'int'>

In [7]:
#Demo 5:Example of type conversion between numbers and strings.
priceIcecream = 25
priceBrownie = 45
totalPrice = priceIcecream + priceBrownie
print("The total is Rs." + totalPrice )

TypeError: can only concatenate str (not "int") to str

In [8]:
#Demo 6: Program to show explicit type casting.
priceIcecream = 25
priceBrownie = 85
totalPrice = priceIcecream + priceBrownie
print("The total in Rs." + str(totalPrice))

The total in Rs.110

In [9]:
# Demo 7: Program to show explicit type conversion.
icecream = '35'
brownie = '45'
#String concatenation
price = icecream + brownie
print("Total Price Rs." + price)
#Explicit type conversion - string to integer
price = int(icecream)+int(brownie)
print("Total Price Rs." + str(price))

Total Price Rs.3545
Total Price Rs.80

In [13]:
#Demo 8:Program to show implicit conversion from int to float.
num1 = 10 #num1 is an integer
num2 = 20.0 #num2 is a float
sum1 = num1 + num2 #sum1 is sum of a float and an integer
print("sum:",sum1)
print(type(sum1))

sum: 30.0
<class 'float'>